body {
  font-family: 'Lato', sans-serif !important;
  background-color: #eaf9e7;
  color: #95a5a6;
}
#top-site {
  margin-top: 70px;
}
#random-wiki-btn a {
  display: block;
  position: relative;
  width: 200px;
  margin: 0 auto;
  font-size: 20px;
  color: #95a5a6;
  padding: 10px;
}
#random-wiki-btn a:hover {
  text-decoration: none;
}
#random-wiki-btn a:hover div {
  visibility: visible;
}
#random-wiki-btn a:hover .bottom-border {
  width: 100%;
}
#random-wiki-btn a div {
  transition-duration: 0.5s;
  transition-timing-function: easy-out;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2px;
  height: 2px;
  background-color: #95a5a6;
  visibility: hidden;
}
#search-container {
  margin-top: 10px;
}
#search-container #search-input {
  width: 40px;
  height: 40px;
  outline: none;
  border-radius: 100%;
  border: 1px solid #95a5a6;
  padding: 10px;
  padding-left: 15px;
  cursor: pointer;
}
#search-container #clear-btn {
  width: 20px;
  height: 20px;
  border: 1px solid #95a5a6;
  outline: none;
  border-radius: 100%;
  margin: 0 auto;
  cursor: pointer;
  background-color: #fff;
  display: none;
  -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  transition-duration: 0.3s;
}
#search-container #clear-btn:hover {
  background-color: #95a5a6;
  color: #fff;
}
#search-container p {
  margin-top: 20px;
}
.anim-clear-btn {
  -webkit-animation-name: animate-clear-btn;
          animation-name: animate-clear-btn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.anim-clear-btn-hide {
  -webkit-animation-name: animate-clear-btn-hide;
          animation-name: animate-clear-btn-hide;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.wiki-article {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  -webkit-animation-name: show-article;
          animation-name: show-article;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  border-radius: 10px;
  border: 1px solid #fff;
  transition: 0.5s;
}
.wiki-article:hover {
  border: 1px solid #95a5a6;
}
.wiki-article h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid #95a5a6;
}
.wiki-article .wiki-article-href > a {
  -webkit-transform: perspective(80px) rotateY(20deg);
          transform: perspective(80px) rotateY(20deg);
  transition-duration: 0.3s;
  margin-top: 10px;
  display: inline-block;
  padding: 5px;
  text-align: center;
  border: 1px solid #6c9;
  border-radius: 10px;
  color: #6c9 !important;
}
.wiki-article .wiki-article-href > a:hover {
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}
.wiki-article .wiki-article-href > a:hover,
.wiki-article .wiki-article-href > a:link,
.wiki-article .wiki-article-href > a:visited {
  text-decoration: none;
}
@-webkit-keyframes show-article {
  0% {
    -webkit-transform: perspective(300px) translateY(200%) rotateX(90deg);
            transform: perspective(300px) translateY(200%) rotateX(90deg);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes show-article {
  0% {
    -webkit-transform: perspective(300px) translateY(200%) rotateX(90deg);
            transform: perspective(300px) translateY(200%) rotateX(90deg);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes animate-clear-btn {
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes animate-clear-btn {
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes animate-clear-btn-hide {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    opacity: 0.1;
  }
}
@keyframes animate-clear-btn-hide {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    opacity: 0.1;
  }
}
